* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}

.box {
    background-color: rgb(20, 20, 20);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    margin-left: 500px;
    margin-right: 600px;
    border-radius: 10px;
}

img {
    padding-top: 20px;
    border-radius: 50%;
    height: 130px;
}

h4 {
    color: gold;
    margin-top: 0px;
}

p {
    margin-top: 30px;
}

input {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 107px;
    padding-right: 107px;
    text-align: center;
    background-color: rgb(57, 56, 56);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

input:hover {
    background-color: gold;
}

.six {
    padding-left: 130px;
    padding-right: 130px;
}